
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,600;0,700;0,900;1,500;1,600&display=swap");
body{
  width: 100%;
  height: 100vh;
}
.auth-container {
  font-family: poppins;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("welcome 2.jpg") no-repeat center center;
  background-size: 100% 100%; 
}

.auth-form {
  background: transparent;
  backdrop-filter: blur(30px);
  padding: 90px;
  border-radius: 12px;
  /* width: 30%; */
  /* height: 50vh; */
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.30);
  border: 1px solid rgba(87, 87, 87, 0.492);
}
.auth-form h2{
    color: rgb(85, 224, 43);
}
.auth-form p {
 font-size: 14px;
 padding: 30px;

}

.input-group {
  position: relative;
  margin: 20px 0;
  width: 100%;
}
.input-group value{
background-color: blue;
}

.input-group input {
  width: 95%;
  padding: 12px 0px;
  border: none;
  border-bottom: 1.2px solid #ffffff;
  outline: none;
  background: transparent;
  font-size: 15px;
}

.input-group label {
  position: absolute;
  left: 8px;
  top: 10px;
  color: #c0f6b0;
  font-size: 15px;
  transition: 0.2s ease;
  pointer-events: none;
  font-weight: 100;
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #0ecfc9c4;
}
.input-group input::after ~ label{
 display: none;
}
.auth-form button {
  width: 100%;
  padding: 12px;
  border: none;
  background: #260ab3;
  color: rgb(255, 255, 255);
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease;
}

.auth-form button:hover {
  background: #023c51;
}

@media (max-width: 768px){
 .auth-container {
  height: 100vh;
  width: 100%;
  padding: 12px;
  background-position: center top;
}
}
